::-webkit-scrollbar { 
    display: none; 
}

@font-face{
	font-family: "Vonique";
	src: url("KeepCalm-Medium.ttf");
}

body{
	background-image: url("https://static.pexels.com/photos/1445/blur-river-blurred-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

#nameTitle{
	text-align: center;
	color: white;
	font-size: 30px;
	margin-top: 12%;
	font-family: Vonique;
	word-spacing: 20px;

}

#menu{
	text-align: center;
	color: white;

}

.menuButton{
	border: none;
	background: none;
	color: white;
	width: 12%;
	font-size: 50px;

}

#menu ul{
	list-style-type: none;
    margin: 0;
    padding: 0;

}

#menu ul li{
	display: inline;
}

#whiteLine{
	height: 10px;
	margin-top: 1%;
	margin-left: 12%;
	margin-right: 12%;
	background-color: white;
}

#textField{
	font-size: 17px;
	color: white;
	background-color: rgba(0,0,0,0.4);

	margin-left: 15%;
	margin-right: 15%;
	overflow-y: auto;
	height: 500px;
}

#loremIpsum{
	margin: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
}