::-webkit-scrollbar { 
    display: none; 
}

@font-face{
	font-family: "Vonique";
	src: url("KeepCalm-Medium.ttf");
}

body{
	background-image: url("https://static.pexels.com/photos/1445/blur-river-blurred-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

#nameTitle{
	text-align: center;
	color: white;
	font-size: 30px;
	margin-top: 12%;
	margin-top: 70px;

	font-family: Vonique;
	word-spacing: 20px;
	text-shadow: 0px 6px rgba(0, 0, 0, 0.3);

}

.fa-home{
	text-shadow: 0px 5px rgba(0, 0, 0, 0.3);

}
.fa-image{
	text-shadow: 0px 5px rgba(0, 0, 0, 0.3);

}
.fa-info-circle{
	text-shadow: 0px 5px rgba(0, 0, 0, 0.3);

}
.fa-code{
	text-shadow: 0px 5px rgba(0, 0, 0, 0.3);

}
.fa-times-circle{
	text-shadow: 0px 5px rgba(0, 0, 0, 0.3);

}

#menu{
	text-align: center;
	color: white;
	margin: auto;
	max-width: 900px;
	padding-bottom: 15px;


}

.menuButton{
	border: none;
	background: none;
	color: white;
	width: 12%;
	font-size: 50px;

}

#menu ul{
	list-style-type: none;
    margin: 0;
    padding: 0;

}

#menu ul li{
	display: inline;
	
}

#whiteLine{
	height: 10px;
	max-width: 700px;
	margin: auto;
	background-color: white;
	box-shadow:  0px 6px  rgba(0, 0, 0, 0.3);

}

#textField{
	font-size: 19px;
	color: white;
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3));

	max-width: 640px;
	margin: auto; 
	overflow-y: auto;
	max-height: 600px;
}

#loremIpsum{
	margin: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
}